@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Cuisine;

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
  @if (@Model.Restaurants.Count == 0)
  {
    <p>no restaurants found</p>
  }

  @* @foreach (Restaurant restaurant in @Model.Restaurants)
  {
    <li>Name: @restaurant.Name | @Html.ActionLink("Edit Entry", "Edit", new { id = Model.CuisineId })</li>
    <li>Description: @restaurant.Description | @Html.ActionLink("Delete Entry", "Delete", new { id = Model.CuisineId })</li>
  } *@
</ul>